/* Opciones */

.contenido-seccion {
    margin-bottom: 20px;
}

.opcion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.icono {
    margin-right: 15px;
}

.descripcion {
    flex: 1;
}

.descripcion p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #b0b0b0;
}

.toggle-container-4 {
    margin-left: auto;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: .4s;
}

input:checked+.slider {
    background-color: #50C878;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.aclaration {
    color: #ff0000 !important;
}